spring:
  application:
    name: :grade-collect
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/test
    username: sa
    password:
  profiles:
    active: local
    group:
      local:
        - console-logging
        - file-logging
      dev:
        - console-logging
      prod:
        - console-logging
        - file-logging

server:
  servlet:
    context-path: /